.overlay-menu-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
}
/* main-menu */
.main-menu {
    width: 40%;
    margin-top: 70px;
}
.main-menu-list {
    list-style: none;
    margin: 0;
}
.main-menu-item {
    padding: 12px 15px;
    color: rgb(55,63,74);
    display: flex;
    align-items: center;
}
.main-menu-item i {
    font-size: 1rem;
    padding-left: 10px;
    color: rgb(169,136,96);
}
.main-menu-item:last-child {
    margin-top: 20px;
    position: relative;
}
.main-menu-item:last-child::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(218,218,218);
    top: -10px;
    left: 0;
}
.main-menu-item-title {
    margin: 0;
    font-size: 1.5rem;
}
.main-menu-item:hover {
    background-color: rgb(169,136,96);
    color: white;
}
.fas {
    transition: linear 0.5s;
}
.main-menu-item:hover .fas {
    color: white;
    padding-left: 15px;
}

/* sub-menu */
.sub-menu {
    width: 60%;
    background: url(../img/background-overlay.png) no-repeat center;
    background-size: contain;
    background-position: 30% 0%;
}
/* news */
.news-subMenu {
    display: none;
}
.news-subMenu-list {
    list-style: none;
    margin-top: 70px;
    padding: 0;
    font-weight: 100;
}
.news-subMenu-item {
    padding: 10px;
    color: rgb(50,58,69);
}
.news-subMenu-item:hover {
    background-color: rgb(169,136,96);
    color: white;
}
.news-subMenu-item-title {
    font-size: 1.2rem;
    margin: 0;
}
/* issues */
.issues-subMenu {
    display: none;
}
.issues-subMenu-list {
    list-style: none;
    margin-top: 70px;
    padding: 0;
    font-weight: 100;
    color: rgb(50,58,69);
}
.issues-subMenu-item {
    padding: 10px;
}
.issues-subMenu-item:hover {
    background-color: rgb(169,136,96);
    color: white;
}
.issues-subMenu-item-title {
    font-size: 1.2rem;
    margin: 0;
}
/* admin */
.admin-subMenu {
    display: none;
}
.admin-subMenu-list {
    list-style: none;
    margin-top: 70px;
    padding: 0;
    font-weight: 100;
    color: rgb(50,58,69);
}
.admin-subMenu-item {
    padding: 10px;
}
.admin-subMenu-item:hover {
    background-color: rgb(169,136,96);
    color: white;
}
.admin-subMenu-item-title {
    font-size: 1.2rem;
    margin: 0;
}
/* offices */
.offices-subMenu {
    display: none;
}
.offices-subMenu-list {
    list-style: none;
    margin-top: 70px;
    padding: 0;
    font-weight: 100;
    color: rgb(50,58,69);
}
.offices-subMenu-item {
    padding: 10px;
}
.offices-subMenu-item:hover {
    background-color: rgb(169,136,96);
    color: white;
}
.offices-subMenu-item-title {
    font-size: 1.2rem;
    margin: 0;
}
/* about */
.about-subMenu {
    display: none;
}
.about-subMenu-list {
    list-style: none;
    margin-top: 70px;
    padding: 0;
    font-weight: 100;
    color: rgb(50,58,69);
}
.about-subMenu-item {
    padding: 10px;
}
.about-subMenu-item:hover {
    background-color: rgb(169,136,96);
    color: white;
}
.about-subMenu-item-title {
    font-size: 1.2rem;
    margin: 0;
}
/* involved */
.involved-subMenu {
    display: none;
}
.involved-subMenu-list {
    list-style: none;
    margin-top: 70px;
    padding: 0;
    font-weight: 100;
    color: rgb(50,58,69);
}
.involved-subMenu-item {
    padding: 10px;
}
.involved-subMenu-item:hover {
    background-color: rgb(169,136,96);
    color: white;
}
.involved-subMenu-item-title {
    font-size: 1.2rem;
    margin: 0;
}