.overlay-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 300px auto;
}
.overlay-search-container-input {
    border: none;
    border-bottom: 1px solid rgb(133, 147, 158);
    background-color: rgb(245,245,245);
    outline: none;
    font-size: 4rem;
    color: rgb(188,195,201);
    font-weight: 100;
    text-align: center;
}
::-webkit-input-placeholder {
    color: rgb(188,195,201);
  }
  
.overlay-search-container-btn {
    width: 20%;
    margin-top: 20px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}